
.PageWrap {
  padding: 32px;
  max-width: 850px;
  margin: auto;
  position: relative;
  display: block;
  background: #fff;
  min-height: 100vh;
}

.PageHeader {
  margin-bottom: 16px;
}

.NoteLink {
  display: block;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  border: 1px solid var(--shadow);
  box-shadow: 1px 2px 5px 0 var(--shadow);
}

.NoteLink:hover {
  background: var(--hover-backgraund);
}

.NoteLink + .NoteLink {
  margin-top: 6px;
}
